out
dist
node_modules
.vscode-test/
*.vsix

# Where the Packer docs are built automatically
docsbuild/scratch
docsbuild/processors/builders/scratch

# Util .ts temporary build output
util/**/*.js
util/**/*.js.map

# Temp scratch file for parsing args
args.mdx